* {
    border: 1px solid;
    font-family: Calibri, sans-serif;
    width: available;
    height: auto;
    margin: 5px;
    padding: 0;
    position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.5);
}


html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(320deg, #eb92be, #ffef78);
    height: inherit;
    margin: 0;
}

img {
    max-width: 90%;
    max-height: 100%;
}

#header {
    width: available;
    height: auto;
}

#menu {
    margin-left: auto;
    margin-right: auto;
}

#logo {
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}

#menu, ul {
    display: flex;
    list-style: none;
    width: 90%;
}

#menu, li {
    flex-grow: 1;
}

#menu, button {
    background-color: initial;
    width: available;
    font-family: Impact, fantasy;
    font-weight: bold;
    font-size: 150%;
    overflow: auto;
}

#container {

}

#footer {
    background-color: initial;
    border-top-style: solid;
    font-style: italic;
}

.book_row {
    display: flex;
}

.book {
    width: available;
    flex-basis: 20%;
    margin-left: 10px;
    margin-right: 10px;
}

#middlepage {
    padding-top: 5%;
    height: available;
    position: center;
    margin-left: auto;
    margin-right: auto;


}

#picture1{
    position: relative;
    float: right;
    border: initial;
    height : 40% ;
    width:available;
}
#picture2{
    position: relative;
    float: left;
    border: initial;
    height : 40% ;
    width:available;
}

#wrapper {
    position: center;
    border: initial;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: available;
}
